 <h1>estoy en la vista index.hbs</h1>
 <!-- intro area -->
  <section id="intro">
    <div class="intro-container">
      <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

        <div class="carousel-inner" role="listbox">

          <!-- Slide 1 -->
          <div class="item active">
            <div class="carousel-background"><img src="img/intro/1.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
            
                <h2 class="animated fadeInDown" style=" margin-bottom: 200px;">CREA SITIOS WEB EN MINUTOS</span></h2>
               

                <a href="./login.html" target="_blank" class="btn-get-started animated fadeInUp">Inicie sesión pulsando aqui</a>
              </div>
            </div>
          </div>
          
          <!-- Slide 2 -->
          <div class="item">
            <div class="carousel-background"><img src="img/intro/2.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown" style=" margin-bottom: 200px;" >CREA SITIOS WEB EN MINUTOS</span></h2>
                <!--  <p class="animated fadeInUp">Nuestro CMS le ofrece diversas caracteristicas para poder administrar sus contenidos, Magento es un excelente servicio para administrar sus archivos de una forma segura y sencilla, denos la oportunidad de servirle</p> -->
              
                <a href="./login.html" target="_blank" class="btn-get-started animated fadeInUp">Inicie sesión</a>
              </div>
            </div>
          </div>

          <!-- Slide 3 -->
          <div class="item">
            <div class="carousel-background"><img src="img/intro/3.jpg" alt=""></div>
            <div class="carousel-container">
              <div class="carousel-content">
                <h2 class="animated fadeInDown" style=" margin-bottom: 200px;">CREA SITIOS WEB EN MINUTOS</span></h2>
               
                <a href="./login.html" target="_blank" class="btn-get-started animated fadeInUp">Inicie sesión</a>
              </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon fa fa-angle-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon fa fa-angle-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>
    </div>
  </section><!-- #intro -->

  <!-- About -->
  <section id="about" class="home-section bg-white" style="background: #085078;  
background: -webkit-linear-gradient(to top, #85D8CE, #085078);  
background: linear-gradient(to top, #85D8CE, #085078); color:white">
      <div class="container">
        <div class="row">
          <div class="col-md-offset-2 col-md-8">
            <div class="section-heading">
              <h2 style ="color:white">Sobre nosotros</h2>
              <div class="heading-line"></div>
              <p>Somos una empresa dedicada a proveerle servicios para elaborar sitios web de forma agil y ahorrarle todo el tiempo de estar aprendiendo a programar</p>
            </div>
          </div>
        </div>
        <div class="row wow fadeInUp">
          <div class="col-md-6 about-img">
            <img src="img/CMS.png" alt="">
          </div>
  
          <div class="col-md-6 content">
            <h3 style="color:white">Decir que un CMS es “una herramienta software para crear, administrar y gestionar un sitio web”, aunque acertado, apenas sí cubre lo que deberíamos entender por un gestor de contenidos.
           Para entender mejor qué es un CMS Web y qué podemos hacer con él, vamos a detenernos en sus 3 funciones principales, que ya hemos apuntado:
          Creación del sitio web. Gestión y mantenimiento del sitio web.  Administración del sitio web y del propio CMS.
         No son éstas las únicas funciones que puede realizar una web CMS, pero sin alguna de ellas no podríamos considerarlo un verdadero gestor de contenidos.</h3>
          </div>
        </div>
      </div>
    </section>

  <!-- Services -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Servicios</h2>
          <h3 class="section-subheading text-muted">Le ofrecemos los siguientes servicios</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-success"></i>
            <i class="fas fa-paper-plane fa-stack-1x fa-inverse"></i>
            <!-- <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>  -->
          </span>
          <h4 class="service-heading">Suba sus archivos a la nube</h4>
          <p class="text-muted">Desde su ordenador puede subir imagenes, videos y archivos genericos y visualizarlos de una forma amigable y sencilla</p>
        </div>
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-success"></i> 
            <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Administre sus plantillas</h4>
          <p class="text-muted">Con los servicios que le ofrecemos puede diseñar sitios web e incrustar diferentes elementos que son de gran ayuda para usted, que pueda hacer un blog para su negocio o simplemente para lo que lo considere necesario</p>
        </div>
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-success"></i> 
            <i class="fas fa-user-friends fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Cree diferentes tipos de usuario</h4>
          <p class="text-muted">Puede asiganrle niveles de acceso a los usuarios para que cada uno utilize el contenido apropiado </p>
        </div>
        <div class="col-md-3">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-success"></i> 
            <i class="fas fa-code fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Programe en tecnologias de desarrollo web</h4>
          <p class="text-muted">Con nuestro editor en syntax highlighting puede hacer maravillas para programar sitios web a su manera y con controles que usted desee</p>
        </div>
      </div>
    </div>
  </section>
  <br><br><br><br>
    


  <!-- Parallax 1 -->
  <section id="parallax1" class="home-section parallax" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="color-light">
            <h2 class="wow bounceInDown" data-wow-delay="0.5s">Los detalles son la clave de la perfección.</h2>
            <p class="lead wow bounceInUp" data-wow-delay="1s">Mezclamos todas las cosas detalladas juntas</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Team -->
  <section id="team" class="home-section bg-white">
    <div class="container">
      <div class="row">
    
        <div class="col-md-offset-2 col-md-8 ">
          <div class="section-heading">
            <h2>Nuestro equipo</h2>
            <div class="heading-line"></div>
            <p>Nuestro querido fundador Josué Ardón está constantemente buscando la forma de integrarle más funcionalidades a Magento, con el fin de brindarle más comodidad a nuestros sucriptores</p>
          </div>
        </div>
      </div>
      <div class="row mx-auto" style ="display: flex; align-items: center; justify-content: center;">

    
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3  " data-wow-delay="0.7s">
          <div class="box-team wow bounceInUp ">
            <img src="img/team/1.jpg" alt="" class="img-circle img-responsive"/>
            <h4>Héctor Ardón</h4>
            <p>Desarrollador</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="parallax2" class="home-section parallax" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row">
          <div class="col-md-12">

              <div class="color-light">
                  <h4 class="wow bounceInDown" data-wow-delay="0.5s">Puede descargar nuestro CMS dandole click al boton que se encuentra abajo de este mensaje</h4>
                 
                </div><br>

            <ul class="clients">

                <a class="btn  btn-social btn-github" style="background: grey; width:300px; height:50px; border-radius:25%" href="https://github.com/Hector-Josue7/Magento">
              
                    <img src="img/clients/5.png" style="width:100px">
                  </a>
            </ul>
          </div>
        </div>
      </div>
    </section>


    {{!-- <section id="parallax1" class="home-section parallax" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">

              <div class="color-light">
                <h2 class="wow bounceInDown" data-wow-delay="0.5s">Los detalles son la clave de la perfección.</h2>
                <p class="lead wow bounceInUp" data-wow-delay="1s">Mezclamos todas las cosas detalladas juntas</p>
              </div>

            </div>
          </div>
        </div>
      </section>  --}}

  <!-- Contact -->
  <section id="contact" class="home-section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div class="section-heading">
            <h2>Contactenos</h2>
            <div class="heading-line"></div>
            <p>Si tiene alguna sugerencia sobre el uso de nuestro CMS, puede ponerse en contacto en el formulario de abajo y con gusto un empleado de nuestra empresa le atenderá, estamos para ayudarle a progresar continuamente</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <div id="sendmessage">Su mensaje ha sido enviado correctamente</div>
          <div id="errormessage"></div>

          <form action="" method="post" class="form-horizontal contactForm" role="form">
            <div class="col-md-offset-2 col-md-8">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Escriba su nombre aquí" data-rule="minlen:4"
                  data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
            </div>

            <div class="col-md-offset-2 col-md-8">
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Correo" data-rule="email"
                  data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
            </div>

            <div class="col-md-offset-2 col-md-8">
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4"
                  data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
            </div>

            <div class="col-md-offset-2 col-md-8">
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us"
                  placeholder="Mensaje"></textarea>
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-2 col-md-8">
                <button type="submit" class="btn btn-theme btn-lg btn-block">Enviar mensaje</button>
              </div>
            </div>
          </form>

        </div>
      </div>

    </div>
  </section>

  <!-- Bottom widget -->
  <section id="bottom-widget" class="home-section bg-white" style="background: #0F2027; 
  background: -webkit-linear-gradient(to top, #2C5364, #203A43, #0F2027);  
  background: linear-gradient(to top, #2C5364, #203A43, #0F2027); color:white  "> 
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="contact-widget wow bounceInLeft">
            <i class="fa fa-map-marker fa-4x"></i>
            <h5 style="color:white">Main Office</h5>
            <p>
              109 Borough High Street,<br />London SE1 1NL
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-widget wow bounceInUp">
            <i class="fa fa-phone fa-4x"></i>
            <h5 style="color:white">Call</h5>
            <p>
              +1 111 9998 7774<br> +1 245 4544 6855

            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="contact-widget wow bounceInRight">
            <i class="fa fa-envelope fa-4x"></i>
            <h5 style="color:white">Email us</h5>
            <p>
              hello@alstarstudio.com<br />sales@alstarstudio.com
            </p>
          </div>
        </div>
      </div>
      <div class="row mar-top30">
        <div class="col-md-12">
          <h5  style="color:white">Siganos en nuestras redes sociales</h5>
          <ul class="social-network">
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span></a>
            </li>
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-dribbble fa-stack-1x fa-inverse"></i>
                </span></a>
            </li>
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span></a>
            </li>
            <li><a href="#">
                <span class="fa-stack fa-2x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
                </span></a>
            </li>
          </ul>
        </div>
      </div>

      
    </div>
  </section>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



  <script src="js/wow.min.js"></script>
  <script src="js/jquery.scrollTo.min.js"></script>
  <script src="js/jquery.nav.js"></script>
  <script src="js/modernizr.custom.js"></script>
  <script src="js/grid.js"></script>
  <script src="js/stellar.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="contactform/contactform.js"></script>

  <!-- Template Custom Javascript File -->
  <script src="js/custom.js"></script>


