  {{!-- <!-- Navigation --> --}}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle nav</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- Logo text or image -->
        <a class="navbar-brand" href="index.html"><img  style = "width:80px; height:35px" src="img/logo-de-magento.png" alt=""></a> <!--incrustar logo aqui-->

      </div>
      <div class="navigation collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="current"><a href="#intro">Home</a></li>
           <li><a href="#about">About</a></li>
         
          <li><a href="#services">Service</a></li>
          <!--  <li><a href="#portfolio">Works</a></li>-->
          <li><a href="#team">Equipo</a></li>
          <li><a href="#contact">Contactenos</a></li>
          <li><a href="./registro.html">Registrese</a></li>
        </ul>
      </div>
    </div>
  </nav>